<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guolun.sys.mapper.ActivityMapper">

    <select id="selectByPrimaryKey" resultType="com.guolun.sys.dto.Activity" parameterType="java.lang.Integer">
        SELECT TYPE,NAME  FROM activity WHERE id =0
    </select>

</mapper>